* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.php linguist-detectable=true
*.js linguist-detectable=true
*jquery.js linguist-vendored=true
/.github export-ignore
CHANGELOG.md export-ignore
